/* CONTENEDOR PRINCIPAL */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* FORMULARIO */
.login-form {
    width: 100%;
    max-width: 420px;

    display: flex;
    flex-direction: column;

    gap: 20px;
}

/* INPUTS */
.customInput {
    width: 100%;
    padding: 14px 18px;

    border-radius: 25px;
    border: 2px solid #e1e1e1;

    font-size: 1rem;
    outline: none;

    box-sizing: border-box;

    margin-bottom: 20px;
}

/* CONTENEDOR BOTONES */
.buttons-container {
    display: flex;
    gap: 15px;
    width: 100%;
}

/* BOTONES */
.customButton {
    flex: 1;

    padding: 14px;

    border: none;
    border-radius: 25px;

    font-size: 1.1rem;
    font-weight: bold;

    cursor: pointer;
    transition: 0.2s ease;
}

.customButton:hover {
    filter: brightness(1.1);
}

/* LOGIN */
.btn-login {
    background-color: #4CAF50;
    color: black;
}

/* INVITADO */
.btn-guest {
    background-color: #FFD700;
    color: black;
}